body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.container-2,
.container-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

h2,
p {
    color: #333;
    margin: 40px;
    padding: 40px;
}

.right,
.left {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .container-2 {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .container-3 {
        flex-direction: column;
    }
}
